<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Admin page</title>
</head>
<body class="bodycolor">

<h1>Logged in as admin</h1>
<h3>Database manager</h3>

<div style="align-content: center; width: 300px; margin: auto">
    <button onclick="location.href='/admin/edit'" type="button" class="button btn-outline b-admin">Edit cats</button>
    <button onclick="location.href='/admin/add'" type="button" class="button btn-outline b-admin" >Add new cat</button>
    <button onclick="location.href='/admin/applications'" type="button" class="button btn-outline b-admin" style="margin-top: 30px;">View adoption applications</button>
    <button onclick="location.href='/admin/volunteers'" type="button" class="button btn-outline b-admin" >View volunteers</button>
    <button onclick="location.href='/admin/homes'" type="button" class="button btn-outline b-admin" >View temporary homes</button>
    <button onclick="location.href='/logout'" type="button" class="button button-logout btn-outline b-admin" style="margin-top: 30px;" >Log out</button>

</div>
</body>
</html>