<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<div class="top" th:replace="/fragments.html :: admin-nav">
</div>

<div class="w3-container" id="where" style="padding-bottom:32px;">
    <h5 class="h5"><span class="h5text" th:text="'Edit data for '+ ${cat.getName()}"> </span>
    </h5>
    <div class="content" style="max-width:700px">

        <form name="editCat" id="editCat" method="post" action="/admin/edit">
            <div>
                <label>Name:</label>
                <input class="input1" type="text" name="name" id="name" maxlength="100" required
                       th:value="${cat.getName()}">
            </div>
            <div>
                <label>Age:</label>
                <input class="input1" type="text" name="age" id="age" maxlength="100" required
                       th:value="${cat.getAge()}">
            </div>
            <div>
                <label>Color:</label>
                <input class="input1" type="text" name="color" id="color" maxlength="100" required
                       th:value="${cat.getColor()}">
            </div>
            <div>
                <label>Sex:</label>
                <input type="radio" id="sex"
                       name="sex" value="Male" th:checked="${cat.getSex() == 'Male'} ? 'checked'" required>
                <label for="sex">Male</label>

                <input type="radio" id="sex"
                       name="sex" value="Female" th:checked="${cat.getSex() == 'Female'} ? 'checked'" required>
                <label for="sex">Female</label>
            </div>
            <div>
                <label>Neutered:</label>
                <input type="radio" id="neutered"
                       name="neutered" value="Yes" th:checked="${cat.getNeutered() == 'Yes'} ? 'checked'" required>
                <label for="neutered">Yes</label>

                <input type="radio" id="neutered"
                       name="neutered" value="No" th:checked="${cat.getNeutered() == 'No'} ? 'checked'" required>
                <label for="neutered">No</label>
            </div>
            <div>
                <label>Description:</label>
                <input class="input1" type="text" name="description" id="description" maxlength="1000" required
                       th:value="${cat.getDescription()}">
            </div>
            <div>
                <label>Status:</label>
                <input class="input1" type="text" name="catStatus" id="catStatus" maxlength="100"
                       th:value="${cat.getCatStatus()}">
            </div>
            <div>
                <label>Cat arrival date:</label>
                <input class="input1" type="date" name="catArrival" id="catArrival" maxlength="100" required
                       th:value="${cat.getCatArrival()}">
            </div>
            <div>
                <label>Temporary home id:</label>
                <input class="input1" type="number" name="tempHomeId" id="tempHomeId" maxlength="100"
                       th:value="${cat.getTempHomeId()}">
            </div>
            <div>
                <label>Picture path:</label>
                <input class="input1" type="text" name="picturePath" id="picturePath" maxlength="100"
                       th:value="${cat.getPicturePath()}">
            </div>
            <div>
                <input type="hidden" name="id" id="id" th:value="${id}" maxlength="100">
            </div>
 <!--           <input type="submit" value="Save">-->
            <button type="submit" class="button btn-outline ">Save</button>
            <button type="button" onclick="location.href='/admin/edit'" class="button btn-outline ">Back</button>


        </form>
    </div>
</div>
</body>
</html>