<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Adoption FAQ</title>


    <style>
        .accordion {
            background-color: #ffffff;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 18px;
            transition: 0.4s;
            margin: 5px;
            width: 60%;
            border-radius: 4px;
            margin-left: 20%;
            margin-right: 20%;
        }

        .active, .accordion:hover {
            background-color: #e9e6df;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
            width:58%;
            margin-left: 20%;
            margin-right: 20%;
        }
    </style>

</head>


<body class="bodycolor">
<div class="top" th:replace="/fragments.html :: header">
</div>

<h5 class="h5" style="background-color: #efefef"><span class="h5text" style="background-color: #d8d4cd">WHAT SHOULD YOU KNOW BEFORE ADOPTING A CAT?</span>
</h5>

<button class="accordion">🐾 Necessary items</button>
<div class="panel">
    <p>Before you bring home a cat, get your place ready for its arrival.
        In addition to food and litter (more on that later), you'll need to create a happy, safe environment for your new furry friend. Put away precarious tchotchkes — cats love to knock things off ledges.
        Look for exposed wires, poisonous plants, or unsecured furniture that could injure a curious kitty if they topple it.
        Equip your space with at least one scratching post and a cat tree for climbing, especially if you don't want to find a kitten on top of your kitchen cabinets.
        You'll also want to get them cat toys to keep them occupied, or DIY it for a fun weekend project.

        Also make sure you get a veterinarian lined up. The shelter or rescue organization may already have a relationship with one, or be able to make a recommendation.
        Look for wide, shallow feeding bowls that won't disturb their highly sensitive whiskers at meal time, advises Lambert Wang, co-founder of Cat Person.
        And because cats are obligate carnivores, meat is the name of the game. "Feed your new friend a high-quality diet that has high amounts of animal protein, moderate amounts of fat, and a limited amount of carbohydrates," Wang says.
        While dry food can be more convenient, wet food helps your cat get enough water, since cats often prefer to play with water over actually drinking it. A mix of protein flavors and formats will give their diet a little variety, as well as cultivate a more varied palate in kittens, in particular.
        Besides, you wouldn't want to eat the same thing every day. Neither will they.</p>
</div>

<button class="accordion">🐾 Time consideration</button>
<div class="panel">
    <p>Before you go to look at potential cat pals, sit down with all members of your household to talk about the decision.
        Even if you live with roommates or plan to take care of her entirely yourself, everyone has to be on board with bringing an animal into the home. Setting expectations early — including feeding, cleanup, and playtime schedules — can help prevent conflict later.
        Then, brace yourself for a barrage of adorable faces as you begin your prowl.
        "There is a cat that's right for every lifestyle — so ask yourself what kind of lifestyle you can provide to the cat and then find the cat who fits best," advises cat adoption advocate Hannah Shaw, the Kitten Lady and Royal Canin partner.
        Active kittens need equally engaged owners, who can give them the stimulation they need, not to mention good feline citizen training. Senior cats, on the other hand, do better in a quiet environment with lots of calm cuddles.
        Older animals may have more medical needs too, so have a frank look at your budget before you adopt one. But Shaw also suggests letting fate have a hand in finding your feline soulmate.
        "Go with an open mind and let your heart match you with your future best friend," she says.</p>
</div>

<button class="accordion">🐾 Helping cat feel comfortable</button>
<div class="panel">
    <p>When you first bring your cat home, give them time and space to get used to their new digs.
        "Especially true for kittens and timider adult cats, it is important to help them transition into a new environment by giving them a dedicated area to relax and adjust to their new surroundings," Wang says.
        That goes double if you have other cats or dogs in the home. Set up a spare room or a corner of the bathroom with their litter box, food and water, and some of those toys, and then let them come to you.
        Most cats will get curious after a few days, but it can take some time for them to warm up.
        And even though cats have the reputation of being aloof, don't forget daily playtime, Wang says.
        An afternoon game of chase that squeaker will help them maintain a healthy weight, stay mentally sharp, and best of all, help form the bond that children's movies are made of.</p>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>



    <!--<div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2  id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Accordion Item #4
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>-->



</body>
</html>