<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Contacts</title>
</head>

<body class="bodycolor">
<div class="top" th:replace="/fragments.html :: header">
</div>


<div class="w3-container" id="where" style="padding-bottom:32px;">
    <h5 class="h5"><span class="h5text">CONTACT US</span>
    </h5>
    <div class="content" style="max-width:700px">


        <form action="/action_page.php" style="padding-top: 10px" target="_blank">
            <p><input class="input" type="text" placeholder="Name" required name="Name">
            </p>
            <p><input class="input" type="text" placeholder="E-mail" required
                      name="Email"></p>
            <!--                <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>-->
            <p><input class="input" type="text" placeholder="Message " required
                      name="Message"></p>
            <p>
                <button class="button button-new" style="width: 200px; height: 50px; font-size: 20px;" type="submit">SEND MESSAGE</button>
            </p>
        </form>

        <p>
            Cat help center "REMI".
            Brīvības street 999 <br>
            TEL. +37199999999<br>

            <br>REMI KAĶU PALĪDZĪBAS CENTRS
            <br>REĢ. NR. 40008304658
            <br>LV49HABA0551050370750

            <br>PayPal: centrsremi@gmail.com
        </p>


        <div class="mapouter" style="padding-left: 50px">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Brīvības piemineklis&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                <a href="https://www.embedmymap.com/">Embed My Map</a>
            </div>
            <style>.mapouter {
                position: relative;
                text-align: right;
                width: 600px;
                height: 400px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 600px;
                height: 400px;
            }

            .gmap_iframe {
                width: 600px !important;
                height: 400px !important;
            }</style>
        </div>

    </div>
</div>
</body>
</html>