<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Kaķu palīdzības centrs REMI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">


<link href="/bootstrap/bootstrap.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>

<!-- Links (sit on top) -->
<div class="top" th:replace="/fragments.html :: header">
</div>


<div class="bgimg " id="home">
</div>


<div class="bg grayscale bodytext">


    <div id="about">
        <div class="content" style="max-width:800px">
            <h5 class="h5"><span class="h5text"
                                 style="background-color: #E5D2B6">CAT HELP CENTER "REMI"</span>
            </h5>
            <p style="text-align:justify"> Cat help center "REMI" was registered on February 12, 2021. Our main goals
                are:
                <br>1. Providing necessary assistance to stray and distressed animals.
                <br>2. Providing animals with temporary home, food and veterinary assistance to look for permanent
                homes.
                <br>3. Control of the stray animal population by implementing the "catch-sterilize-release" program.
                <br>4. Promoting public training on animal care, health, protection and welfare.
                <br>5. Raising funds from natural and legal persons as donations or gifts for the maintenance and
                treatment of animals.
                <br>
                <br>Some meet each other for life and become friends and family, others to come into each other's lives
                for only a short time, to teach and remind us of how fragile life is, the importance of time, the
                importance of compassion and ability to see what's going on around.
                <br>
            </p>
            <div class="w3-panel w3-leftbar w3-light-grey"></div>

        </div>
    </div>


</div>

</body>
</html>
