<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adoption stories</title>
</head>
<body>


This is an amazing story about kindness and compassion.
About the fact that the fate of one basement kitten touched the hearts of many people and only thanks to all of you he recovered, turned into a mischievous, cheerful kitten and already safely found new owners and a home for himself.
The story began like this: a small, skinny kitten with sore eyes huddled in the corner of an entrance in one of the houses in Rezekne.
Probably ten people passed by, hurrying about their business, but one girl stopped and drew attention to this baby.
From this moment, the story of real salvation begins:
-first, the baby is taken from the entrance and transported to the safe from Rezekne to Riga as soon as possible.
- and already in Riga the struggle for the eyes and for the life of the saffron milk begins.
We won this round. We were able to save eyesight and defeat a viral infection from which many kittens die.
Then socialization in a temporary home and after a couple of months we have a wonderful, cute kitten ready for adoption.
Of course, the choice of future owners was strict and we tried very hard to find those who would become a real family for our bunny. And now, Sam is at home!
It is so good to see that our efforts and labors were not in vain.
</body>
</html>