<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adoption FAQ</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="w3-top">
    <div class="w3-row w3-padding w3-light-grey">

        <button onclick="location.href='/test'" type="button" class="button">HOME</button>
        <button onclick="location.href='/faq'" type="button" class="button">ADOPTION FAQ</button>
        <button onclick="location.href='/adopt'" type="button" class="button">ADOPT</button>
        <button type="button" class="button">HAPPY ADOPTION STORIES</button>
        <button type="button" class="button">HOW TO HELP</button>
        <button type="button" class="button">CONTACTS</button>

    </div>
</div>

TEXT
</body>
</html>