<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <title>Adopt</title>
</head>
<div class="top" th:replace="/fragments.html :: header">
</div>
<body class="bodycolor">


<div class="w3-container" id="where" style="padding-bottom:32px;">
    <h5 class="h5"><span class="h5text">FILL THE APPLICATION IN ORDER TO ADOPT A CAT</span>
    </h5>
    <div class="content" style="max-width:700px">

        <form name="addAdoptionApplication" id="addAdoptionApplication" method="post" action="/adopt">
            <div>
                <label>Name:</label>
                <input class="input" type="text" name="name" id="name" maxlength="100" required>
            </div>
            <div>
                <label>Surname:</label>
                <input class="input" type="text" name="surname" id="surname" maxlength="100" required>
            </div>
            <div>
                <label>Phone number:</label>
                <input class="input" type="number" name="phoneNumber" id="phoneNumber" maxlength="100" required>
            </div>
            <div>
                <label>E-mail:</label>
                <input class="input" type="email" placeholder="E-mail" name="email" id="email" maxlength="100" required>
            </div>
            <div>
                <label>Do you have other pets at home?</label>
                <select class="input" name="otherPets" id="otherPets">
                    <option value="-">-</option>
                    <option value="cat/cats">cat/cats</option>
                    <option value="dog/dogs">dog/dogs</option>
                </select>
            </div>
            <div>
                <label>Do you have small children?</label>
                <select class="input" name="children" id="children">
                    <option value="no">no</option>
                    <option value="yes">yes</option>
                </select>
            </div>
            <div>
                <input type="hidden" name="catId" id="catId" th:value="${id}" maxlength="100">
            </div>
            <input class="sendbtn" style="margin-top: 20px" type="submit" value="Send application">
        </form>
    </div>

</div>
</body>
</html>