<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adopt</title>
</head>
<body>
<h3>Please fill this application in order to adopt a cat</h3>

<form name="addAdoptionApplication" id="addAdoptionApplication" method ="post" action="/adopt">
    <div>
        <label>Name:</label>
        <input type="text" name="name" id="name" maxlength="100">
    </div>
    <div>
        <label>Surname:</label>
        <input type="text" name="surname" id="surname"  maxlength="100">
    </div>
    <div>
        <label>Phone number:</label>
        <input type="number" name="phoneNumber" id="phoneNumber" maxlength="100">
    </div>
    <div>
        <label>E-mail:</label>
        <input type="text" name="email" id="email" maxlength="100">
    </div>
    <div>
        <label>Please choose a cat you would like to adopt:</label>
        <select name="catId" id="catId">
            <option value="">-</option>
            <option th:each="cat:${cats}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
        </select>
    </div>
    <div>
        <label>Do you have other pets at home?</label>
        <select name="otherPets" id="otherPets">
            <option value="-">-</option>
            <option value="cat/cats">cat/cats</option>
            <option value="dog/dogs">dog/dogs</option>
        </select>
    </div>
    <div>
        <label>Do you have small children?</label>
        <select name="children" id="children">
            <option value="no">no</option>
            <option value="yes">yes</option>
        </select>
    </div>
    <input type="submit" value="Send application">
</form>
</body>
</html>