<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>View Applications</title>
</head>
<body>

<div class="top" th:replace="/fragments.html :: admin-nav">
</div>

<div class="w3-container" id="where" style="padding-bottom:32px;">
    <h5 class="h5"><span class="h5text">Adoption applications</span>
    </h5>
    <div class="content" style="max-width:700px">
    </div>
</div>

<div>

    <form action="/admin/delete/app/" method="get">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Cat Id</th>
            <th scope="col">Cat Name</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Other pets</th>
            <th scope="col">Small children</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="apl:${apls}">

            <td>
                <div class="radio">
                    <label><input type="radio" id='selectedApp' name="selectedApp"
                                  th:value="${apl.getId()}" ></label>
                </div>
            </td>
            <td th:text="${apl.getId()}"></td>
            <td th:text="${apl.getCatId()}"></td>
            <td th:text="${apl.getCatName()}"></td>
            <td th:text="${apl.getName()}"></td>
            <td th:text="${apl.getSurname()}"></td>
            <td th:text="${apl.getPhoneNumber()}"></td>
            <td th:text="${apl.getEmail()}"></td>
            <td th:text="${apl.getOtherPets()}"></td>
            <td th:text="${apl.getChildren()}"></td>

        </tr>

        </tbody>
    </table>
        <button type="submit" class="button btn-outline button-delete">Accept</button>
    </form>
</div>



</body>
</html>